.nav {
  border: 2px solid $color--navy;
  margin: 20px;
  position: relative;
  width: 100%;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: transparentize($color--blue, .85);
    border: 2px transparentize($color--blue, .85);
    position: absolute;
    top: 9px;
    right: 10px;
  }
}

.site__intro {
  margin: 83px auto 0 auto;
  width: 110px;
  text-align: center;
}
