.post {
  margin-left: 33px;
}

.post__header {
  margin-top: 38px;
  margin-bottom: 66px;
}

.post__title {
  font-family: $font-family--post-title;
  font-size: 26px;
  color: $color--red;
  letter-spacing: em(1.79);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.post__content {
  font-family: $font-family--post;
  color: $color--text;
  line-height: em(23);
  font-size: em($font-size--post);

  p {
    margin-bottom: em(24);
  }
}

.post__meta {
  font-family: $font-family--post-meta;
  color: $color--text;
  line-height: em(23);
  font-size: em($font-size--post);
}
