<div class="nav">
  <div class="site__intro">
    <a class="site__title" href="{{@blog.url}}"><h1>NOMADS</h1></a>
    <span class="site__subtitle">Another millenial lifestyle blog</span>
  </div>

</div>
