/*
Error: Undefined variable: "$color--navy".
        on line 2 of /Users/Alex/Sites/nomds-blog/content/themes/nomads/assets/sass/_layout/nav.scss

1: .nav {
2:   border: 2px solid $color--navy;
3:   margin: 20px;
4:   position: relative;
5:   width: 100%;
6: 
7:   &::before {

Backtrace:
/Users/Alex/Sites/nomds-blog/content/themes/nomads/assets/sass/_layout/nav.scss:2
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:63:in `map'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
/Users/Alex/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/Alex/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/Alex/.rvm/gems/ruby-2.2.1/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Alex/.rvm/gems/ruby-2.2.1@global/gems/sass-3.4.19/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color--navy\".\A         on line 2 of /Users/Alex/Sites/nomds-blog/content/themes/nomads/assets/sass/_layout/nav.scss\A \A 1: .nav {\A 2:   border: 2px solid $color--navy;\A 3:   margin: 20px;\A 4:   position: relative;\A 5:   width: 100%;\A 6: \A 7:   &::before {"; }
