@font-face {
  font-family: 'mononoki';
  src: url("../fonts/mononoki-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mononoki-Regular.woff2") format("woff2"), url("../fonts/mononoki-Regular.woff") format("woff"), url("../fonts/mononoki-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mononoki-b';
  src: url("../fonts/mononoki-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/mononoki-Bold.woff2") format("woff2"), url("../fonts/mononoki-Bold.woff") format("woff"), url("../fonts/mononoki-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'mononoki-i';
  src: url("../fonts/mononoki-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/mononoki-Italic.woff2") format("woff2"), url("../fonts/mononoki-Italic.woff") format("woff"), url("../fonts/mononoki-Italic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'mononoki-bi';
  src: url("fonts/mononoki-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/mononoki-BoldItalic.woff2") format("woff2"), url("fonts/mononoki-BoldItalic.woff") format("woff"), url("fonts/mononoki-BoldItalic.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
/* line 42, ../sass/_base/typography.scss */
.site__title {
  color: #002B36;
  font-size: 1.75em;
  font-family: "mononoki";
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

/* line 51, ../sass/_base/typography.scss */
.site__subtitle {
  color: #002B36;
  font-size: 0.625em;
  font-family: "mononoki";
}

/* line 1, ../sass/_base/images.scss */
img {
  width: 100%;
  height: auto;
}

/* line 1, ../sass/_layout/default.scss */
body {
  background-color: #FEFEFE;
}

/* line 5, ../sass/_layout/default.scss */
.site {
  display: flex;
  width: 100%;
  max-width: 914px;
  margin: 0 auto;
}

/* line 12, ../sass/_layout/default.scss */
.site__header {
  display: flex;
  height: 100vh;
  min-width: 313px;
  min-height: 320px;
  position: fixed;
}

/* line 20, ../sass/_layout/default.scss */
.site__main {
  width: calc(100% - 313px);
  position: relative;
  left: 313px;
}

/* line 1, ../sass/_layout/post.scss */
.post {
  margin-left: 15px;
}

/* line 5, ../sass/_layout/post.scss */
.post__header {
  margin-top: 38px;
  margin-bottom: 66px;
}

/* line 10, ../sass/_layout/post.scss */
.post__title {
  font-family: "mononoki";
  font-size: 26px;
  color: #FB433D;
  letter-spacing: 0.11188em;
  text-decoration: none;
}

/* line 18, ../sass/_layout/post.scss */
.post__content {
  font-family: "mononoki";
  line-height: 1.3125em;
  font-size: 0.875em;
}
/* line 23, ../sass/_layout/post.scss */
.post__content p {
  margin-bottom: 0.9375em;
}

/* line 1, ../sass/_layout/nav.scss */
.nav {
  border: 2px solid #002B36;
  margin: 20px;
  position: relative;
  width: 100%;
}
/* line 7, ../sass/_layout/nav.scss */
.nav::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 93, 166, 0.15);
  border: 2px rgba(0, 93, 166, 0.15);
  position: absolute;
  top: 9px;
  right: 10px;
}

/* line 19, ../sass/_layout/nav.scss */
.site__intro {
  margin: 83px auto 0 auto;
  width: 110px;
  text-align: center;
}
